{% extends 'base.html.twig' %}

{% block body %}
	<h2>Pictures lists</h2>
		<ul class="grid effect-6" id="grid">
			<li>
				<a href="#"><img src="{{ asset('images/1.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/3.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/4.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/12.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/13.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/10.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/9.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/2.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/14.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/5.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/6.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/7.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/8.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/9.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/12.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/13.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/10.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/11.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/2.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/14.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/1.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/3.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/4.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/5.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/6.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/7.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/8.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/9.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/12.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/13.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/10.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/11.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/2.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/14.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/1.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/3.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/4.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/5.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/6.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/7.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/8.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/9.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/12.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/13.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/10.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/11.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/2.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/14.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/1.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/3.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/4.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/5.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/6.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/7.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/8.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/9.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/12.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/13.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/10.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/11.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/2.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/14.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/1.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/3.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/4.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/5.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/6.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/7.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/8.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/9.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/12.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/13.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/10.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/11.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/2.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/14.png') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/1.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/3.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/4.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/5.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/6.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/7.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/8.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/9.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/3.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/5.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#"><img src="{{ asset('images/2.jpg') }}">
					<div class="hover-box">
						<h3>Stay Foolish</h3>
						<div><i class="fa fa-user"></i> creemson</div>
						<div><i class="fa fa-heart"></i>23</div>
					</div>
				</a>
			</li>
		</ul>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
	<script src="{{ asset('js/imagesloaded.js') }}"></script>
	<script src="{{ asset('js/classie.js') }}"></script>
	<script src="{{ asset('js/modernizr.custom.js') }}"></script>
	<script src="{{ asset('js/AnimOnScroll.js') }}"></script>

	<script>
		new AnimOnScroll( document.getElementById( 'grid' ), {
			minDuration : 0.4,
			maxDuration : 0.7,
			viewportFactor : 0.2
		} );
	</script>
{% endblock %}