{% extends 'base_front.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
                <div class="row">
                    <div class="product-gallery">       

                          <div class="picture_min">
                              <div class="top_part">
                                  <div class="middle">
                                      <h1 id="title">Digital</h1>
                                      <h2 id="rank">1</h2>
                                      <div class="image_div"><img class="image" src="{{ asset('images/img1.jpg') }}" alt="User picture"></div>
                                      <div class="hashtags">#weird</div>
                                      <div class="likes">31 <span class="glyphicon glyphicon-thumbs-up"></span></div>
                                  </div>
                              </div>
                              <div class="bottom_part">
                                  <div class="bottom_middle">By dev team 2016</div>
                              </div>
                          </div>        

                        <div class="picture_min">
                            <div class="top_part">
                                <div class="middle">
                                    <h1 id="title">Lamborghini mercy</h1>
                                    <h2 id="rank">2</h2>
                                    <div class="image_div"><img class="image" src="{{ asset('images/img2.jpg') }}" alt="User picture"></div>
                                    <div class="hashtags">#voiture </div>
                                    <div class="likes">6 <span class="glyphicon glyphicon-thumbs-up"></span></div>
                                </div>
                            </div>
                            <div class="bottom_part">
                                <div class="bottom_middle">By dev team 2016</div>
                            </div>
                        </div>
                        <div class="picture_min">
                            <div class="top_part">
                                <div class="middle">
                                    <h1 id="title">Filet aux fiches</h1>
                                    <h2 id="rank">3</h2>
                                    <div class="image_div"><img class="image" src="{{ asset('images/img3.jpg') }}" alt="User picture"></div>
                                    <div class="hashtags">#lepoisson</div>
                                    <div class="likes">65 <span class="glyphicon glyphicon-thumbs-up"></span></div>
                                </div>
                            </div>
                            <div class="bottom_part">
                                <div class="bottom_middle">By dev team 2016</div>
                            </div>
                        </div>      

                        <div class="picture_min">
                            <div class="top_part">
                                <div class="middle">
                                    <h1 id="title">ZEN</h1>
                                    <h2 id="rank">4</h2>
                                    <div class="image_div"><img class="image" src="{{ asset('images/img4.jpg') }}" alt="User picture"></div>
                                    <div class="hashtags">#zen</div>
                                    <div class="likes">35 <span class="glyphicon glyphicon-thumbs-up"></span></div>
                                </div>
                            </div>
                            <div class="bottom_part">
                                <div class="bottom_middle">By dev team 2016</div>
                            </div>
                        </div>      

                        <div class="picture_min">
                            <div class="top_part">
                                <div class="middle">
                                    <h1 id="title">Red car</h1>
                                    <h2 id="rank">5</h2>
                                    <div class="image_div"><img class="image" src="{{ asset('images/img5.jpg') }}" alt="User picture"></div>
                                    <div class="hashtags">#voiture</div>
                                    <div class="likes">3 <span class="glyphicon glyphicon-thumbs-up"></span></div>
                                </div>
                            </div>
                            <div class="bottom_part">
                                <div class="bottom_middle">By dev team 2016</div>
                            </div>
                        </div>      

                        <div class="picture_min">
                            <div class="top_part">
                                <div class="middle">
                                    <h1 id="title">Ca va vite</h1>
                                    <h2 id="rank">6</h2>
                                    <div class="image_div"><img class="image" src="{{ asset('images/img6.jpg') }}" alt="User picture"></div>
                                    <div class="hashtags">#voiture</div>
                                    <div class="likes">12 <span class="glyphicon glyphicon-thumbs-up"></span></div>
                                </div>
                            </div>
                            <div class="bottom_part">
                                <div class="bottom_middle">By dev team 2016</div>
                            </div>
                        </div>      

                    </div>
                </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
